*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    color: black;
}
:root{
    --fts-primeira:18px;
    --fts-segundo:22px;
    --fts-terceira:35px;
    --fts-quarta:43px;
    --fts-quinta:68px;
    --ft--weight-primeiro:400;
    --ft--weight-segunda:700;
    --cl-primeira:#F17228;
    --cl-segunda:#424242;
    --cl-terceira:#434343;
    --cl-quarta:#757575;
    --cl-quinta:#FFFFFF;
    --cl-sexta:#9E9E9E;
    --cl-setima:#212121;
    --cl-oitavo: #FFB30E;
    --cl-nona: linear-gradient(92.84deg, #FB3C00 -47.72%, #FFB800 136.81%);
    --bg-primeiro:#FFB800;
    --bg-segundo:#F5F5F5;
    --bg-terceiro:#F17228;
}
@font-face {
    font-family:source;
    src:  url('/Assets/fonts/Source-sans-pro/source-sans-pro.regular.ttf');
    src: url('/Assets/fonts/Source-sans-pro/source-sans-pro.regular.ttf');
}
/**configurações especificas**/
.container{
    width: 100%;
}
.container.bg{
    width: 100%;
    background-color: #FFB800;
}
.container.bg2{
    width: 100%;
    background-image: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);
}
.container-conteudo{
    max-width: 1480px;
    margin: auto;

}
a{
    text-decoration: none;
    font-size: var(--fts-primeira);
}
.button{
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-segunda);
    padding: 10px;
    width: 200px;
    background-color: var(--bg-terceiro);
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
}
.button:hover{
    cursor: pointer;
}
/**Configurações gerais**/
.header{
   display: grid;
   grid-template-columns: repeat( 3, 1fr);
   justify-items: center;
   align-items: center;
    padding: 20px;
}
.localizacao{
    display: flex;
    justify-content: center;
    align-items: center;

}
.localizacao h1{
    font-size: var(--fts-primeira);
    margin: 0 10px 0 10px;
    color: black;
    font-weight: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
}
.localizacao h2{
    font-size: var(--fts-primeira);
    margin: 0 10px 0 10px;
    color: black;
    font-weight: var(--ft--weight-primeiro);
    font-family: 'Open+Sans';
}
.localizacao span{
    color: black;
    font-weight: var(--ft--weight-segunda);
}
.search-login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-login img{
    margin-right: -25px;
}
.search-login a{
    text-decoration: none;
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-segunda);
    padding: 10px;
    padding-left: 30px;
    color: #FFB800;
    border: 1px solid #FFB800;
    box-shadow: 2px 2px 2px 3px #FFB800;
    border-radius: 8px;
    font-family: "Source Code Pro";
}
.search-body{
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.search-body img{
    margin-right: -35px;
    z-index: 1;
    padding: 5px 5px 5px 5px;
}
.search-body input{
    outline: none;
    background: none;
    border: 0;
    color: black;
    padding: 5px 5px 5px 40px;
  
}
.seacrch-body input::placeholder{
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-segunda);
    color: black;
    padding: 5px 5px 5px 5px;
}
.login-body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 10px;
}
.header-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.header-area1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 860px;
}
.header-area1-item{
    margin-bottom: 15px;
}
.header-area1-item h1{
    font-size: var(--fts-quinta);
    color: white;
    font-weight: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
}
.header-area1-item h6{
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-primeiro);
    font-family: "Source Code Pro";
    margin-top: 10px;
    
}
.header-area1-item2{
    background-color: white;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
}
.header-area1-item2-transporte{
    display: flex;
    align-items: flex-start;
}
.header-area1-item2-transporte1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(241, 114, 40, 0.1);
    padding: 10px;
    border-radius: 10px;
}
.header-area1-item2-transporte1 img{
    margin-right: 10px;
 }
.header-area1-item2-transporte1 h1{
   font-size: var(--fts-primeira);
   font-weight: var(--ft--weight-segunda);
   font-family: "Source Code Pro";
   color: #F17228;
}
.header-area1-item2-transporte2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}
.header-area1-item2-transporte2 img{
    margin-right: 10px;
 }
.header-area1-item2-transporte2 h1{
    font-size: var(--fts-primeira);
   font-weight: var(--ft--weight-segunda);
   font-family: "Source Code Pro";
    color: #757575;
}
.header-area1-item2-localizacao{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-area1-item2-localizacao-search{
    margin-top: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    
}
.header-area1-item2-localizacao-search img{
    width: 18px;
    margin-right: -45px;
    margin-left: 10px;
    z-index: 1;
}
.header-area1-item2-localizacao-search input{
    width: 600px;
    padding: 15px 15px 15px 40px;
    margin-left: 20px;
    background-color: #F5F5F5;
    outline: 0;
    border-radius: 10px;
    border: 0;
}
.header-area1-item2-localizacao-search input::placeholder{
    font-size: var(--ft--weight-primeiro);
    font-weight: var(--ft--weight-primeiro);
    font-family: "opens+sans";
    margin-left: 200px;
} 
.header-area1-item2-localizacao-login{
    background-color: #F17228;
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-area1-item2-localizacao-login img{
    margin-right: 10px;
}
.header-area1-item2-localizacao-login a{
    color: white;
    font-size: var(--ft--weight-primeiro);
    font-weight: var(--ft--weight-primeiro);
    font-family: "Source Code Pro";
}
.header-area2{
    display: flex;
    align-items: flex-start;
}
.header-area2 img{
    width: 620px;
    margin-bottom: -2px;
}
.lista-de-pratos{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.lista-de-pratos-item1 h2{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'source';
    font-weight: var(--ft--weight-segunda);
    font-size: var(--fts-segundo);
    font-family: "Source Code Pro";
}
.lista-de-pratos-item1 h3{
    background-color: rgba(241, 114, 40, 0.2);;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: var(--ft--weight-segunda);
    font-size: var(--fts-segundo);
    font-family: "Source Code Pro";
    color: #F17228;
}
.lista-de-pratos-item1-img{
    display:flex;
    align-items:flex-end;
}
.lista-de-pratos-item1-img img{
    border-radius: 20px;
    width: 340px;
}
.lista-de-pratos-item1-desconto{
    background-color: #FFB30E;
    display: flex;
    color: white;
    width: 140px;
    height: 85px;
    border-radius: 0 20px 0 20px;
    margin-right: -140px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lista-de-pratos-item1-desconto2{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.lista-de-pratos-item1-desconto h1{
    font-weight: var(--ft--weight-segunda);
    font-size: var(--fts-quinta);
    font-family: "Source Code Pro";
    color: white;
    display: inline-block;
}
.lista-de-pratos-item1-desconto2 h5{
    font-size: var(--fts-terceira);
    font-weight: var(--ft--weight-segunda);
    color: white;
    display: inline-block;
}
.lista-de-pratos-item1-desconto2 h4{
    font-size: var(--fts-segundo);
    font-weight: var(--ft--weight-segunda);
    color: white;
    display: inline-block;
}
.work-area{
    margin-top: 50px;
}
.work-header{
    text-align: center;
    font-size: var(--fts-quarta);
    font-weight: var(--ft--weight-segunda);
    color: var(--cl-primeira);
    font-family: "Source Code Pro";
    line-height: 48px;
}
.work-header h1{
    color: var(--cl-primeira);
    padding-top: 80px;
}
.work-area-body{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 30px;
    justify-items: center;
}
.work-item {
    width: 330px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.work-item h1{
    font-size: var(--fts-segundo);
    font-family: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
}
.work-item h2{
    font-size: var(--fts-primeira);
    font-family: var(--ft--weight-primeiro);
    font-family: "Open Sans";
    color: var(--cl-sexta) ;
    text-align: center;
}

.container-conteudo.wt{
    width: 100%;
    max-width: none;
}
.popular-items-area{
    font-family: "Source Code Pro";
    margin-top: 150px;
}
.popular-items-header{
    text-align: center;
    font-size: var(--fts-quarta);
    font-weight: var(--ft--weight-segunda);
    color: var(--cl-primeira);
    font-family: "Source Code Pro";
    line-height: 48px;
}
.popular-items-header h1{
    color: var(--cl-setima);
}
.popular-items-body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;
}
.popular-items-seta{
    display: inline-block;
    margin: auto;
    cursor: pointer;
}
.popular-items-seta img{
    background-color: var(--bg-primeiro); 
    border-radius: 50px;
    padding: 20px;
    width: 50px;
}
.popular-items-item-area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.popular-items-item1 {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.popular-items-item1 a.button{
    width: 100%;
}
.popular-items-item1 > img{
    border-radius: 20px;

}
.popular-items-item1 h1{
    font-size: var(--fts-segundo);
    font-weight: var(--ft--weight-segunda);
    margin-top: 10px;
}
.popular-items-item1-localização{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.popular-items-item1-localização h2{
    font-size: var(--fts-segundo);
    font-weight: var(--ft--weight-primeiro);
    color: var(--cl-oitavo);
    margin-left: 5px;
}
.popular-items-item1 h3{
    font-size: var(--fts-segundo);
    font-weight: var(--ft--weight-segunda);
    color: var(--cl-setima);
    margin-top: 10px;
}
.popular-items-item1 a{
    margin-top: 10px;
}
.featured-restaurants-area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
}
.featured-restaurants-header{
    text-align: center;
}
.featured-restaurants-header h1{
    font-size: var(--fts-quarta);
    font-weight: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
    margin-top: 150px;
}
.featured-restaurants-body{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 100px;
}
.featured-restaurants-item1{
    margin: 20px 20px 70px 50px;
}
.featured-restaurants-item1 h3{
    font-size: var(--fts-segundo);
    font-weight: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
    margin-top: 15px;
    padding: 10px;
    background: rgba(241, 114, 40, 0.2);
    color: var(--cl-primeira);
    display: inline-block;
    border-radius: 10px;
}
.featured-restaurants-item1 h3.green{
    background: rgba(121, 185, 60, 0.2);
    color:#79B93C;
}
.featured-restaurants-item-area{
    font-family: "Source Code Pro";
}
.featured-restaurants-item1-img{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.featured-restaurants-item1-img img{
    border-radius: 15px;
}
.featured-restaurants-item1-desconto{
    background-color: var(--bg-terceiro);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 15px;
    margin-top: 30px;
    padding: 5px 10px;
    border-radius: 10px;
}
.featured-restaurants-item1-desconto img{
    width: 20px;
}
.featured-restaurants-item1-desconto h1{
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    font-size: var(--fts-segundo);
    font-weight: var(--ft--weight-segunda);
}
.featured-restaurants-item1-temp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primeiro);
    margin-left: -130px;
    margin-top: 30px;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 10px;
}
.featured-restaurants-item1-temp  img{
    width: 20px;
}
.featured-restaurants-item1-temp h1{
    margin-left: 10px;
    color: white;
    font-size: var(--fts-segundo);
    font-weight: var(--ft--weight-segunda);
}

.featured-restaurants-item1-text{
    display: flex;
    font-family: "Source Code Pro";
    margin-top: 20px;
    justify-content: flex-start;
}
.featured-restaurants-item1-text2 {
    margin-left: 10px;
}
.featured-restaurants-item1-text2 h1{
    font-size: var(--fts-segundo);
    font-weight: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
    margin-left: 5px;
}
.featured-restaurants-item1-text2 h1.fts{
    font-size: 19px;
}
.featured-restaurants-item1-estrela{
    display: flex;
}
.featured-restaurants-item1-estrela h1{
    font-size: var(--fts-segundo);
    font-weight: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
    color: var(--cl-oitavo);
}
.botao{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--bg-terceiro);
    border-radius: 10px;
    color: white;
}
.botao a{
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-segunda);
    color: white;
    display: flex;
    font-family: "Source Code Pro";
}

.container.bg3{
    background-color: #FEFAF1;
}

.food-area{
    display: grid;
    grid-template-rows: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.food-header{
    display: flex;
    justify-content: space-between;
}
.food-busca{
    display: flex;
    align-items: center;
    justify-content: center;
}
.food-title h1{
    font-size: var(--fts-terceira);
    font-weight: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
}
.food-busca a{
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
    color: var(--cl-primeira);
    margin: 10px;
}
.food-seta-esquerda{
    background-color: #F17228;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}
.food-seta-direita{
    background-color: #F17228;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}
.food-body{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    justify-items: center;
}
.food-lista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.food-lista img{
    border-radius: 120px;
}
.food-lista h1{
    margin-top: 15px;
    font-size: var(--fts-segundo);
    font-weight: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
}
.container.bg4{
    background: linear-gradient(180deg, #FEEFD0 , #FF8A00 );
}
.app-area{
    padding-top: 100px;
}
.app-header{
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}
.app-item1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #CFCFCF;
    margin-left: 80px;
}
.app-item1:first-child{
    margin-left: 0;
}
.app-item1:last-child{
    border: none;
}

.gradient{  
    background: linear-gradient(92.84deg, #FB3C00 -47.72%, #FFB800 136.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.app-item1 h1{
    font-size: 35px;
    font-weight: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
    margin-right: 50px;
    margin-left: 30px;
}
.app-body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
}
.app-img{
    margin-top: 15px;
}
.app-img img{
    margin-bottom: -5px;
}
.app-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 100px;
}
.app-text h1{
    font-size: var(--fts-quinta);
    font-weight: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
    color: var(--cl-primeira);
}
.app-text p{
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-primeiro);
    font-family: "Open Sans";
    color: #827E7E;
    margin-top: 50px;
}
.app-text-img{
    margin-top: 50px;
    margin-left: -35px;
}
.ilustracao-area{
    margin-top: 100px;
   
}
.ilustraca-item1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgba(124, 124, 124, 0.06);
    border-radius: 10px;
    margin-bottom: 100px;
}
.ilustracao-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 50px;
}
.ilustracao-text h1{
    font-size: var(--fts-quarta);
    font-weight: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
}
.ilustracao-text span{
    color: var(--cl-oitavo);
}
.ilustracao-text p{
    font-size: var(--fts-primeira);
    font-weight: 600;
    font-family: "Open Sans";
    color: rgba(97, 97, 97, 0.69);
    margin-top: 15px;
}
.ilustracao-text a{
    margin-top: 100px;
    font-family: "Source Code Pro";
    font-size: var(--fts-primeira);
    width: 400px;
    height: 60px;
    padding: 15px;
    background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
}
.ilustracao-img img{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.ilustracao-text.two{
    grid-column-start: 3;
    grid-column-end: 4;
}
.ilustracao-img.two{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ilustracao-img.two img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.container.bg6{
    background-image: url(../Imagens/Img/Imagebase2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.banner-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height:390px;
}
.banner-text{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-text h1{
    font-size: 58px;
    font-family: "Source Code Pro";
    color: white;
    text-align: center;
}
.banner-text a{
    margin-top: 50px;
    font-family: "Source Code Pro";
    font-size: var(--fts-primeira);
    width: 400px;
    height: 60px;
    padding: 15px;
    background: linear-gradient(93.41deg, #F17228 -5.63%, #F15E28 100.8%);
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
}
footer{
    color: white;
    background: #212121;
}

.footer-item1{
    padding-top: 100px;
}
.footer-item1 h1{
    color: white;
    font-size: var(--fts-segundo);
    font-weight: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
}
.footer-body{
    margin-top: 50px;
}
.footer-cidades-area{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border-bottom: 1px solid #424242 ;
}
.footer-cidades{
    margin-bottom: 100px;
}
.footer-cidades h1{
    margin-top: 15px;
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-primeiro);
    color: #F5F5F5;
    font-family: "Source Code Pro";
}
.footer-cotato-area{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #424242 ;
}
.footer-cotato{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer-item2 h1{
    font-size: var(--fts-segundo);
    font-weight: var(--ft--weight-segunda);
    color: white;
    font-family: "Source Code Pro";
    margin-bottom: 25px;
}
.footer-item2 h2{
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-primeiro);
    color: #F5F5F5;
    font-family: "Source Code Pro";
    margin-bottom: 15px;
}
.footer-email-area{
    margin: auto;
}
.footer-email h1{
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-primeiro);
    font-family: "Source Code Pro";
    color: #F5F5F5;
    margin-bottom: 45px;
}
.footer-email h2{
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-primeiro);
    font-family: "Open Sans";
    color: #BBBBBB;
}
.redes-sociais{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.redes-sociais img{
    margin: 10px 10px 10px 0;
}
.email-subscribe{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.email-subscribe img{
    position: absolute;
    margin-left: 10px;
    z-index: 1;
}
.email-subscribe input{
    padding: 10px;
    padding-left: 45px;
    color: #ADADAD;
    background-color: #424242;
    border-radius: 10px;
    outline: none;
    border: 0;
    width: 350px;
}
.email-subscribe input::placeholder{
    color: #ADADAD;
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-primeiro);
    font-family: "Open Sans";
}
.email-subscribe button{
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-segunda);
    font-family: "Source Code Pro";
    color: white;
    margin-left: 20px;
    cursor: pointer;
    border: 0;
}
.footer-direitos-reservados{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 100px;
}
.footer-direitos-reservados h1{
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-primeiro);
    font-family: "Open Sans";
    color: #F5F5F5;
}
.footer-direitos-reservados span{
    font-size: var(--fts-primeira);
    font-weight: var(--ft--weight-segunda);
    font-family: "Open Sans";
    color: #F5F5F5;
}
@media (min-width:1025px) and (max-width:1440px){
    .container-conteudo{
        max-width: 1300px;
    }
    .header-area1 {
        width: 780px;
        margin-left: 30px;
    }
    .header-area1-item2-localizacao-search input {
        width: 570px;
    }
    .header-area2 img{
        width: 520px;
    }
    .lista-de-pratos {
        justify-items: center;
    }
    .lista-de-pratos-item1 img {
        width: 300px;
    }
    .popular-items-item1:first-child{
        display: none;
    }
    .popular-items-item1 > img{
        width: 250px;
    }
    .featured-restaurants-body{
        grid-template-columns: repeat(3,1fr);
    }
    .featured-restaurants-item-area:nth-child(4){
        display: none;
    }
    .featured-restaurants-item-area:nth-child(8){
        display: none;
    }
    .food-lista img{
        width: 200px;
    }
    .food-title {
        margin-left: 20px;
    }
    .app-area {
        display: flex;
        justify-content: center;
    }
    .app-img{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .app-img img{
       margin: 0;
    }
    .app-header {
        width: 1400px;
        padding: 20px;
    }
    .app-item1{
        margin-left: 50px;
    }
    .app-text-img{
        display: flex;
    }
    .ilustracao-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ilustracao-text h1{
        font-size: var(--fts-quarta);
    }
    .ilustracao-text a{
        margin-top: 40px;
    }
    .ilustracao-img img {
        object-fit: cover;
        width: 650px;
    }
    .banner-area{
        max-height: 300px;
    }
    .banner-text h1 {
        font-size: 30px;
        font-family: "Source Code Pro";
        color: white;
        text-align: center;
    }
}
@media (min-width:768px) and (max-width:1024px){
    .container-conteudo{
        max-width: 700px;
    }
    .header{
        grid-template-columns: 150px 250px 250px;
    }
    .header > img{
        width: 150px;
    }
    .localizacao h1{
        font-size: 10px;
    }
    .localizacao h2{
        font-size: 10px;
    }
    .search-body input{
        width: 150px;
        padding-left: 40px;
    }
    .search-body input::placeholder{
        font-size: 10px;
    }
    .login-body a{
        font-size: 10px;
    }
    .header-area1 {
        width: 350px;
        margin-left: 0px;
    }
    .header-area1-item h1{
        font-size: var(--fts-segundo);
    }
    .header-area1-item h6{
        font-size: 10px;
    }
    .header-area1-item2{
        padding: 10px;

    }
    .header-area1-item2-transporte1 h1{
        font-size: 10px;
    }
    .header-area1-item2-transporte1 img{
       width: 15px;
       margin-right: 10px;
    }
    .header-area1-item2-transporte2 {
        padding: 10px;
        margin-left: 10px;
    }
    .header-area1-item2-transporte2 h1{
        font-size: 10px;
    }
    .header-area1-item2-transporte2 img{
        width: 10px;
        margin-right: 10px;
     }
    .header-area1-item2-localizacao-search{
        margin-top: 10px;
        margin-right: 10px;
    }
    .header-area1-item2-localizacao-search img{
        width: 10px;
    }
    .header-area1-item2-localizacao-search input {
        width: 220px;
    }
    .header-area1-item2-localizacao-login {
        margin-top: 10px;
        padding: 10px;
    }
    .header-area1-item2-localizacao-login a{
        font-size: 10px;
    }
    .header-area2 img{
        width: 350px;
    }
    .lista-de-pratos {
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .lista-de-pratos-item1 img {
        width: 300px;
    }
    .work-area-body{
        grid-template-columns: repeat(2,1fr);
    }
    .popular-items-item1:first-child{
        display: none;
    }
    .popular-items-item1:nth-child(3){
        display: none;
    }
    .popular-items-item1:nth-child(4){
        display: none;
    }
    .popular-items-item1 > img{
        width: 250px;
    }
    .featured-restaurants-body{
        grid-template-columns: repeat(2,1fr);
    }
    .featured-restaurants-item-area:nth-child(4){
        display: none;
    }
    .featured-restaurants-item-area:nth-child(8){
        display: none;
    }
    .featured-restaurants-item1-img > img {
        width: 300px;
    }
    .food-lista img{
        width: 200px;
    }
    .food-title {
        margin-left: 20px;
    }
    .food-body{
        grid-template-columns: repeat(3,1fr);
    }
    .food-lista{
        margin-bottom: 30px;
    }
    
    .app-area {
        display: flex;
        justify-content: center;
    }
    .app-header {
        width: 1400px;
        padding: 20px;
    }
    .app-body{
        margin-top: 70px;
    }
    .app-img img{
       width: 400px;
    }
    .app-text{
        margin-left: 0;
    }
    .app-text h1{
        font-size: var(--fts-terceira);
    }
    .app-text p{
        font-size: 10px;
        margin-top: 20px;
    }
    .app-text-img{
        margin-top: 10px;
        margin-left: 0;
    }
    .app-text-img img{
        width: 130px;
    }
    .app-item1 img{
        width: 20px;
    }
    .app-item1 h1{
        font-size: 15px;
        margin-right: 30px;
        margin-left: 25px
    }
    .ilustracao-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ilustraca-item1{
        margin-bottom: 70px;
    }
    .ilustracao-text{
        margin-left: 35px;
        margin-right: 20px;
    }
    .ilustracao-text h1{
        font-size: var(--fts-segundo);
    }
    .ilustracao-text p{
        font-size: 10px;
    }
    .ilustracao-text a{
        width: 300px;
        padding: 10px;
        height: 35px;
        margin-top: 30px;
    }
    .ilustracao-img img {
        object-fit: cover;
        width: 350px;
    }
    .banner-area{
        max-height: 160px;
    }
    .banner-text h1 {
        font-size: 20px;
        font-family: "Source Code Pro";
        color: white;
        text-align: center;
    }
    .banner-text a {
        margin-top: 30px;
    }
    .footer-cotato-area {
        grid-template-columns: repeat(1,1fr);
    }
    .footer-email-area{
        margin: 0;
        margin-top: 50px;
    }
    .footer-cidades h1,
    .footer-item2 h2{
        font-size: 15px;
    }
}