*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'poppins';
    color: black;
}
/**configurações especificas**/
.container{
    width: 100%;
}
.container.bg{
    width: 100%;
    background-color: #FFB800;
}
.container-conteudo{
    max-width: 1480px;
    margin: auto;
}
a{
    text-decoration: none;
    font-size: 18px;
}
/**Configurações gerais**/
.header{
   display: grid;
   grid-template-columns: repeat( 3, 1fr);
   justify-items: center;
   align-items: center;
    padding: 20px;
}
.localizacao{
    display: flex;
    justify-content: center;
    align-items: center;

}
.localizacao h1{
    font-size: 16px;
    margin: 0 10px 0 10px;
    color: black;
    font-weight: 400;
}
.localizacao span{
    color: black;
    font-weight: 700;
}
.search-login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-login img{
    margin-right: -25px;
}
.search-login a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    padding-left: 30px;
    color: #FFB800;
    border: 1px solid #FFB800;
    box-shadow: 2px 2px 2px 3px #FFB800;
    border-radius: 8px;
 
}
.seacrch-body{
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.seacrch-body img{
    margin-right: -35px;
    z-index: 1;
    padding: 5px 5px 5px 5px;
}
.seacrch-body input{
    outline: none;
    background: none;
    border: 0;
    color: black;
    padding: 5px 5px 5px 40px;
    margin-top: auto;
}
.seacrch-body input::placeholder{
    font-weight: bold;
    font-size: 18px;
    color: black;
    padding: 5px 5px 5px 5px;
}
.login-body{
    margin: 0 10px 0 10px;
}
.header-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.header-area1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 860px;
}
.header-area1-item{
    margin-bottom: 15px;
}
.header-area1-item h1{
    font-size: 70px;
    color: white;
    font-weight: 700;
}
.header-area1-item h6{
    font-size: 17px;
    margin-top: 10px;
    
}
.header-area1-item2{
    background-color: white;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
}
.header-area1-item2-transporte{
    display: flex;
    align-items: flex-start;
}
.header-area1-item2-transporte1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(241, 114, 40, 0.1);
    padding: 10px;
    border-radius: 10px;
}
.header-area1-item2-transporte1 img{
    margin-right: 10px;
 }
.header-area1-item2-transporte1 h1{
   font-size: 18px;
   color: #F17228;
}
.header-area1-item2-transporte2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}
.header-area1-item2-transporte2 img{
    margin-right: 10px;
 }
.header-area1-item2-transporte2 h1{
    font-size: 18px;
    color: #757575;
}
.header-area1-item2-localizacao{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-area1-item2-localizacao-search{
    margin-top: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    
}
.header-area1-item2-localizacao-search img{
    width: 18px;
    margin-right: -45px;
    margin-left: 10px;
    z-index: 1;
}
.header-area1-item2-localizacao-search input{
    width: 600px;
    padding: 15px;
    margin-left: 20px;
    background-color: #F5F5F5;
    outline: 0;
    border-radius: 10px;
    border: 0;
}
.header-area1-item2-localizacao-search input::placeholder{
    padding-left: 30px;
    font-size: 18px;
} 
.header-area1-item2-localizacao-login{
    background-color: #F17228;
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-area1-item2-localizacao-login img{
    margin-right: 10px;
}
.header-area1-item2-localizacao-login a{
    color: white;
}
.header-area2 img{
    margin-bottom: -5px;
}